* {
    box-sizing: border-box;
  }
  body {
    background-image: url("images/ps2_theme.png" );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  img {
    min-width: 100px;
    max-width: 100%;
    min-height: 100px;
    max-height: 500px;

  } 
  
  header, nav {
    width: 100%;
    margin: auto;
    
  }
  
  p {
    justify-content: center;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    min-width: 100px;
    max-width: 500px;
    margin: auto;
    border: 3px solid green;
    padding: 40px;
    text-align: center;
  }

  h1 {
    justify-content: center;
    font-family: 'Zrnic', sans-serif;
    background-color: black;
    color: white;
    font-size: 35px;
    min-width: 100px;
    max-width: 500px;
    margin: auto;
    border: 3px solid green;
    padding: 40px;
	  text-align: center;
    margin-top: 50px;
  }
  
  .timeline{
    width: 80%;
    margin: auto;
    
  
  }
  
  .timeline ul {
    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  
  }
  .timeline li {
    position: relative;
    flex: 1;
    border-bottom: 2px solid red;
  
  }
  .timeline li::before {
    position: absolute;
    bottom: -20px;
  }
  a {
    text-decoration: none;
    color: #4C4C4C ;
  
  }
  
  .navthatworks {
    display: flex;
    max-width: 90%;
    margin-top: -70px;
    padding-bottom: 30px;
    padding-top: 10px;
  }
  .navthatworks div {
    flex:1;
    border-bottom: 5px solid #131313;
  }
  .navthatworks div.dot {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: -24px; /* this moves the dots down */
    
  }
  
  .navthatworks div:nth-child(1)::after{
    margin-left: -8px;
    
    
  }


  div.white-out {
    width: 0px;
    height: 16px;
    justify-content: space-evenly;

  
  }

  .ps2-con{
    display: flex;
    min-width: 100px;
    max-width: 100%;
    min-height: 100px;
    max-height: 500px;
    margin: auto;
    padding: 20px;


}



.container{
    display: flex ;
    padding-top: 50px;
    justify-content: space-evenly;

    

}
.container div{
    border: 1px red;
    padding: 10px;
    

}

.game1{
    flex: 1;
    order: 1;
    

}

.game2{
    flex: 1;
    order: 2;



}

.game3{
    flex: 1;
    order: 3;


}

@media only screen and (max-width: 768px) {
  .projects {
    flex-direction: column;
  }
  main{
    grid-template-columns: 100%;
  }
}