body {
	background: #ffffff;
	background-repeat: repeat;
	background-size: 300px 300px;
	color: #a40037;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover { color: #a40037; }

header, nav, main, footer {
	width: 100%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: #2a9dd3;
	color: #fff;
    min-height: 100px;
    font-family: 'Potta One', cursive;
    font-weight: 400;
    font-style: normal;
	text-align: center;
}

header h1 {
	padding: 40px 60px;
    font-family: 'Potta One', cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 38px;
}

h2 {
	color: #000;
    font-family: 'Potta One', cursive;
	font-size: 19px;
}


/* Nav styles */
nav { background-color: #2a9dd3;
}
nav ul { 
	display: flex;
	justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
	padding-bottom: 20px;
}


nav li { padding: 10px 10px; 

}

nav a { color: #fff; 
    padding: 20px 20px;

}
    
nav a:hover { color: #000000; 

}

.projects {
	display: flex;
	list-style-type: none;

}

.projects li {
	padding: 20px;

}

img {
	width: 100%;

}


/* Main styles */
main { 
	color: #000;
	background-color: #fff;
	display: grid;
	grid-template-columns: 80% 20%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	margin-top: 20px; 
	margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size:19px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #2a9dd3;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; 

}

 @media only screen and (max-width: 768px) {
 	.projects {
 		flex-direction: column;
 	}
 	main{
 		grid-template-columns: 100%;
 	}
 }